.base-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__wrapper {
        position: relative;
        width: 570px;
        height: 345px;
        overflow: hidden;

        &_big {
            width: 600px;
            height: 355px;
        }
    }

    &__score {
        position: absolute;
        inset: 0;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.5rem;
        text-shadow: 1px 1px 10px black;

        &-user {
            font-family: 'Poppins', sans-serif;
            display: flex;
            align-items: center;

            &-avatar {
                width: 40px;
                height: 40px;
                border: 2px solid white;
                border-radius: 50%;
                margin-right: 8px;
            }

            &-info {
                font-weight: 700;
            }


            &-badges {
                display: flex;
            }

            &-clan {
                font-size: 14px;
                border-radius: 3px;
                padding: 0 0.2em;
                text-shadow: none;

                &:not(:last-child) {
                    margin-right: 0.4rem;
                }
            }
        }

        &-trackers {
            text-align: right;
        
            &-combo {
                &-fc {
                    background-color: black;
                    font-size: 14px;
                    padding: 0 0.3rem;
                    border-radius: 3px;
                    margin-left: 6px;
                }
            }

            &-accuracy {

            }
        }
    }
}