.team {
    display: flex;
    align-items: center;

    margin-right: 2.5rem;

    &__logo {
        width: 5rem;
        height: 5rem;

        border-radius: 0.8rem;
        margin-right: 0.8rem;
    }

    &__name {
        font-family: 'Poppins', sans-serif;
        font-size: 1.7rem;
    }

    &__members {
        
    }

    &__member {
        font-size: 1.1rem;
        display: inline-flex;
        align-items: center;

        &:nth-child(n+4) {
            opacity: 0.38;
        }

        &:not(:last-child)::after {
            content: ", ";
            width: 0.8rem;
        }

        &-flag {
            height: 1.1rem;
            margin-right: 0.3rem;
        }
    }
}