.base-sidebar {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    width: var(--sidebar-width);
    height: 100%;

    padding: 20px;

    background-color: var(--background-section-alt);

    &__title {
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: .5rem;
    }

    &__entities {
        &-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
        }

        &-item {
        }
    }

    &::after {
        content: '';
        width: 100%;
        height: 140px;

        position: absolute;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, transparent 40%, rgb(18, 18, 18) 90%);

        z-index: 10;
    }
}