.base-marquee {
    position: absolute;
    inset: 0;

    &__wrapper {
        position: relative;
        display: block;
        background-color: rgb(35, 35, 35);
        border-radius: 1em;

        &_hollow {
            background-color: transparent;
        }
    }

    &__container {
        border-radius: 8px;
    }
}