.base-marquee {
    position: absolute;
    inset: 0;

    &__wrapper {
        position: relative;
        display: block;
        background-color: rgb(35, 35, 35);
        border-radius: 0.3em;

        padding: 0.5rem;
    }
}